@import "tailwindcss";
/* ===== Custom Entity Scrollbar ===== */
.entity-scroll::-webkit-scrollbar {
  width: 8px;
}

.entity-scroll::-webkit-scrollbar-track {
  background: rgba(15, 23, 42, 0.6); /* slate-900 */
  border-radius: 10px;
}

.entity-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #22d3ee, #06b6d4);
  border-radius: 10px;
}

.entity-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #67e8f9, #22d3ee);
}
